
// STRUCTURE
////////////////////////////////////////////////

*
	-moz-box-sizing: border-box
	box-sizing: border-box

html,
body
	height: 100%
	min-height: 100%
	+open-sans
	-webkit-overflow-scrolling: touch


// main container
////////////////////////////////////////////////

.main
	display: block
	position: relative
	width: 100%
	max-width: 1024px
	margin: 0 auto

// widths
////////////////////////////////////////////////

.one-whole
	width: 100%

.one-half
	width: percentage(1/2)

.lap-one-half
	+media-query(lap)
		width: percentage(1/2)

.one-third
	width: percentage(1/3)

.lap-one-third
	+media-query(lap)
		width: percentage(1/3)

.two-thirds
	width: percentage(2/3)

.lap-two-thirds
	+media-query(lap)
		width: percentage(2/3)

.one-quarter
	width: percentage(1/4)

.three-quarters
	width: percentage(3/4)

.one-fourth
	width: percentage(1/4)