
// STRUCTURE
////////////////////////////////////////////////

*
	-moz-box-sizing: border-box
	box-sizing: border-box

html,
body
	height: 100%
	min-height: 100%
	+open-sans
	-webkit-overflow-scrolling: touch

hr
	display: block
	position: relative
	height: 3px
	width: 100%
	max-width: 760px
	background: #444
	margin: 0 auto 24px 0
	padding: 0
	border: 0


// MAIN
.main
	display: block
	position: relative
	width: 100%
	max-width: 1024px
	margin: 0 auto

.banner
	max-width: 500px
	border: 0 !important
	margin: 0 auto 60px auto !important
	text-align: center

.box
	position: relative
	display: block
	padding: 24px
	width: 100%
	margin-bottom: 24px
	text-align: left

	&.medium
		max-width: 500px
		margin: 0 auto 24px

	&.solid
		border: 6px solid #f9f9f9

	&.border
		border-top: 3px solid #3498db

	&.bg
		background: #3498db

		h2,
		h3
			color: #fff

		p,
		li
			color: #ecf0f1 !important

.work-item
	@extend .grid
	padding: 12px 0

	a
		position: relative
		display: block
		margin-bottom: 12px
		color: #3498db
		text-decoration: none
		+transition(color .4s ease-in-out)

		+hover
			color: #777

	p
		margin-bottom: 0

.one-whole
	width: 100%

.one-half
	width: percentage(1/2)

.lap-one-half
	+media-query(lap)
		width: percentage(1/2)

.one-third
	width: percentage(1/3)

.lap-one-third
	+media-query(lap)
		width: percentage(1/3)

.two-thirds
	width: percentage(2/3)

.lap-two-thirds
	+media-query(lap)
		width: percentage(2/3)

.one-quarter
	width: percentage(1/4)

.three-quarters
	width: percentage(3/4)