
// TYPOGRAPHY
////////////////////////////////////////////////

// fonts
////////////////////////////////////////////////

=material
	font-family: 'icomoon'

=open-sans
	font-family: 'Open Sans', sans-serif

=gentium
	font-family: 'Gentium Basic', serif


// headings
////////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6
	margin-top: 0
	margin-bottom: 12px
	+open-sans
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	color: #444
	text-transform: uppercase

// p
p
	margin: 0 0 12px 0
	font-size: 18px
	line-height: 27px
	color: #777
	+gentium

p,
li,
span,
pre
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

ul,
li
	font-size: 18px
	line-height: 27px
	color: #777
	+gentium
	text-align: left

a
	color: #777
	+transition(color .4s ease-in-out)

	+hover
		color: #333