
// FOOTER
////////////////////////////////////////////////

// footer
////////////////////////////////////////////////

.footer
	position: relative
	display: block
	padding: 24px
	text-align: center
	background: #3498db